<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cue-Fit 헬스장 추천 결과</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="/static/img/logo.png" alt=""> -->
        <h1>Cue-Fit<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">홈</a></li>
          <li><a href="services.html">Cue-Fit 헬스장 추천</a></li>
          <li><a href="projects.html">오운완 이미지 생성</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/img/service1.png');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>헬스장 추천 서비스</h2>
        <ol>
          <li>본인의 취향에 맞는 헬스장을 추천해드립니다</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <!-- ======= Recent Blog Posts Section ======= -->
    <section id="recent-blog-posts" class="recent-blog-posts">
      <div class="container" data-aos="fade-up"">
  <div class=" section-header">
        <h2>당신에게 맞는 헬스장은?</h2>
      </div>

      <div class="row gy-5">

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <div id="recom-post-carousel" class="carousel slide" data-bs-ride="carousel">
                <!-- Carousel inner with images -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/img/여자추천_유레디PT필라테스/image.jpg" class="img-fluid carousel-img" alt="Blog Image 1">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/여자추천_유레디PT필라테스/image2.jpg" class="img-fluid carousel-img" alt="Blog Image 2">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/여자추천_유레디PT필라테스/image3.jpg" class="img-fluid carousel-img" alt="Blog Image 2">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/여자추천_유레디PT필라테스/image5.jpg" class="img-fluid carousel-img" alt="Blog Image 2">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/여자추천_유레디PT필라테스/image6.jpg" class="img-fluid carousel-img" alt="Blog Image 2">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/여자추천_유레디PT필라테스/image7.jpg" class="img-fluid carousel-img" alt="Blog Image 2">
                  </div>
                  <!-- Additional images here -->
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#recom-post-carousel" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#recom-post-carousel" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
              </div>
              <span class="post-date">Choice 1</span>
            </div>
            

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">유레디 PT&PILATES</h3>
              
              <div class="meta d-flex flex-column align-items-start">
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-inbox"></i>
                  <span class="ps-2"><strong>사업장 유형:</strong> PT 전문</span>
                </div>
                <div class="d-flex align-items-center3 mb-2">
                  <i class="bi bi-map"></i>
                  <span class="ps-2"><strong>주소:</strong> 서울 강남구 논현로38길 18 3층 3매봉역 4번 출구에서 332m 
                </span>
                </div>
                <div class="d-flex align-items-center3 mb-2">
                  <i class="bi bi-calendar"></i>
                  <span class="ps-2"><strong>운영 시간:</strong> 평일(오후 12:00 - 오전 12:00) / 토요일(운영) / 일요일(운영) </span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-telephone"></i>
                  <span class="ps-2"><strong>전화번호:</strong> 0507-1359-4080</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-person"></i>
                  <span class="ps-2"><strong>네이버 블로그:</strong> https://blog.aver.com/youready_ptpilates                    </span>
                </div>
                <div class="d-flex align-items-center3 mb-2">
                  <i class="bi bi-file"></i>
                  <span class="ps-2"><strong>시설:</strong> 탈의실,샤워실 : 쾌적 / 수건,운동복 : 제공</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-file"></i>
                    <span class="ps-2"><strong>특이사항:</strong> 여성전용/ 반려동물 동반/ 부가 필라테스 수업</span>
                </div>
                
                <div class="d-flex align-items-center3 mb-2">
                  <i class="bi bi-bookmark"></i>
                  <span class="ps-2"><strong>추가 정보:</strong> 체형, 체력 측정을 통해서 개인 필요 운동 확인(문진 -체성분검사 -체형측정 -체력측정 -맞춤형 운동 진행)
                  </span>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="post-item position-relative h-100">

            <div class="post-img position-relative overflow-hidden">
              <div id="recom-post-carousel2" class="carousel slide" data-bs-ride="carousel">
                <!-- Carousel inner with images -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/img/여자추천_울동네PT샵/image.jpg" class="img-fluid carousel-img" alt="Blog Image 1">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/여자추천_울동네PT샵/image2.jpg" class="img-fluid carousel-img" alt="Blog Image 2">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/여자추천_울동네PT샵/image3.jpg" class="img-fluid carousel-img" alt="Blog Image 2">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/여자추천_울동네PT샵/image5.jpg" class="img-fluid carousel-img" alt="Blog Image 2">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/여자추천_울동네PT샵/image6.jpg" class="img-fluid carousel-img" alt="Blog Image 2">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/여자추천_울동네PT샵/image7.png" class="img-fluid carousel-img" alt="Blog Image 2">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/여자추천_울동네PT샵/image4.jpg" class="img-fluid carousel-img" alt="Blog Image 2">
                  </div>
                  <!-- Additional images here -->
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#recom-post-carousel2" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#recom-post-carousel2" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
              </div>
              <span class="post-date">Choice 2</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">우리동네PT샵</h3>

              <div class="meta d-flex flex-column align-items-start">
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-inbox"></i>
                  <span class="ps-2"><strong>사업장 유형:</strong> PT 전문</span>
                </div>
                <div class="d-flex align-items-center3 mb-2">
                  <i class="bi bi-map"></i>
                  <span class="ps-2"><strong>주소:</strong> 서울 강남구 논현로119길 23 9언주역 2번 출구에서 475m 미터
                </span>
                </div>
                <div class="d-flex align-items-center3 mb-2">
                  <i class="bi bi-calendar"></i>
                  <span class="ps-2"><strong>운영 시간:</strong> 평일(오전 07:00 - 오후 11:00) / 토요일(운영) / 일요일(미운영) </span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-telephone"></i>
                  <span class="ps-2"><strong>전화번호:</strong> 0507-1446-2210</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-person"></i>
                  <span class="ps-2"><strong>네이버 블로그:</strong> https://blog.aver.com/wooridoge-ohyeo
                  </span>
                </div>
                <div class="d-flex align-items-center3 mb-2">
                  <i class="bi bi-file"></i>
                  <span class="ps-2"><strong>시설:</strong> 탈의실,샤워실 : 쾌적 / 수건,운동복 : 제공</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-file"></i>
                    <span class="ps-2"><strong>특이사항:</strong> 체인점</span>
                </div>
                <div class="d-flex align-items-center3 mb-2">
                  <i class="bi bi-bookmark"></i>
                  <span class="ps-2"><strong>추가 정보:</strong> 다이어트 & 운동 전문가의 진정성 있는 코칭/ 체형 개선 전문 PT 샵
                  </span>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End post item -->

        <div class="col-xl-4 col-md-6">
          <div class="post-item position-relative h-100" data-aos="fade-up" data-aos-delay="300">

            <div class="post-img position-relative overflow-hidden">
              <div id="recom-post-carousel3" class="carousel slide" data-bs-ride="carousel">
                <!-- Carousel inner with images -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="/static/img/여자추천_슈퍼바디짐압구정점/image.jpg" class="img-fluid carousel-img" alt="Blog Image 1">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/여자추천_슈퍼바디짐압구정점/image2.jpg" class="img-fluid carousel-img" alt="Blog Image 2">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/여자추천_슈퍼바디짐압구정점/image3.jpg" class="img-fluid carousel-img" alt="Blog Image 2">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/여자추천_슈퍼바디짐압구정점/image5.jpg" class="img-fluid carousel-img" alt="Blog Image 2">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/여자추천_슈퍼바디짐압구정점/image6.jpg" class="img-fluid carousel-img" alt="Blog Image 2">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/여자추천_슈퍼바디짐압구정점/image7.jpg" class="img-fluid carousel-img" alt="Blog Image 2">
                  </div>
                  <div class="carousel-item">
                    <img src="/static/img/여자추천_슈퍼바디짐압구정점/image8.jpg" class="img-fluid carousel-img" alt="Blog Image 2">
                  </div>
                  <!-- Additional images here -->
                </div>
                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#recom-post-carousel3" role="button" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#recom-post-carousel3" role="button" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
              </div>
              <span class="post-date">Choice 3</span>
            </div>

            <div class="post-content d-flex flex-column">

              <h3 class="post-title">슈퍼바디짐 압구정점</h3>

              <div class="meta d-flex flex-column align-items-start">
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-inbox"></i>
                  <span class="ps-2"><strong>사업장 유형:</strong> PT 전문</span>
                </div>
                <div class="d-flex align-items-center3 mb-2">
                  <i class="bi bi-map"></i>
                  <span class="ps-2"><strong>주소:</strong> 서울 강남구 압구정로22길 10 양남빌딩 지하1층 3압구정역 5번 출구에서 322m 미터
                </span>
                </div>
                <div class="d-flex align-items-center3 mb-2">
                  <i class="bi bi-calendar"></i>
                  <span class="ps-2"><strong>운영 시간:</strong> 평일(오전 07:00 - 오후 11:30) / 토요일(운영) / 일요일(미운영) </span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-telephone"></i>
                  <span class="ps-2"><strong>전화번호:</strong> 0507-1330-9682 </span>
                </div>
                <div class="d-flex align-items-center mb-2">
                  <i class="bi bi-person"></i>
                  <span class="ps-2"><strong>네이버 블로그:</strong> https://blog.aver.com/superbody_04 
                  </span>
                </div>
                <div class="d-flex align-items-center3 mb-2">
                  <i class="bi bi-file"></i>
                  <span class="ps-2"><strong>시설:</strong> 탈의실,샤워실 : 쾌적 / 수건,운동복 : 제공</span>
                </div>
                <div class="d-flex align-items-center mb-2">
                    <i class="bi bi-file"></i>
                    <span class="ps-2"><strong>특이사항:</strong> 체인점</span>
                </div>
                <div class="d-flex align-items-center3 mb-2">
                  <i class="bi bi-bookmark"></i>
                  <span class="ps-2"><strong>추가 정보:</strong> 슈퍼바디짐 압구정점 프리미엄 PT 스튜디오 피트니스 선수가 직접 수업하는 1:1 / 2:1 PT 전문 센터
                  </span>
                </div>
              </div>
            </div>

          </div>
        </div><!-- End post item -->

      </div>

      </div>
    </section>
    <!-- End Recent Blog Posts Section -->

  </main><!-- End #main -->

  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Cue-Fit</h3>
              <p>
                아시아경제 교육센터<br>
                서울 중구 퇴계로 166<br><br>
                <strong>연락처:</strong> +82 010-1004-1004<br>
                <strong>이메일:</strong> cufit@gmail.com<br>
              </p>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Cue-Fit 정보</h4>
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#">BEST 서비스</a></li>
              <li><a href="#">BEST PT</a></li>
              <li><a href="#">BEST 시설</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>헬스장 추천 서비스</h4>
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#">헬스장 추천</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>오운완 이미지 생성</h4>
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#">Dall E 이미지 생성</a></li>
              <li><a href="#">사용자 이미지 배경 제거</a></li>
              <li><a href="#">이미지 합성</a></li>
            </ul>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Cue-Fit</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>