<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Cue-Fit 헬스장 추천 서비스</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/static/img/favicon.png" rel="icon">
  <link href="/static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="/static/vendor/aos/aos.css" rel="stylesheet">
  <link href="/static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/static/css/main.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: UpConstruction
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="/static/img/logo1.png" alt=""> -->
        <h1>Cue-Fit<span>.</span></h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">홈</a></li>
          <li><a href="services.html">Cue-Fit 헬스장 추천</a></li>
          <li><a href="projects.html">오운완 이미지 생성</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/static/img/service1.png');">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">

        <h2>헬스장 추천 서비스</h2>
        <ol>
          <li>본인의 취향에 맞는 헬스장을 추천해드립니다</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        .active {
          background-color: #e6b800;
          opacity: 0.5;
          }
    </style>

<section id="team" class="team">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>헬스장 선호 카테고리 종류</h2>
      <p>7가지의 카테고리 설명을 참고하시고 아래의 추천을 마저 해주세요!</p>
    </div>
    
    <div id="priority-boxes">
      <div class="priority-box" id="box-1">
        <h3 style="font-size: 2.0em;">1순위</h3>
        <span id="priority-1"></span>
      </div>
      <div class="priority-box" id="box-2">
        <h3 style="font-size: 2.0em;">2순위</h3>
        <span id="priority-2"></span>
      </div>
      <div class="priority-box" id="box-3">
        <h3 style="font-size: 2.0em;">3순위</h3>
        <span id="priority-3"></span>
      </div>
    </div>
    
    <div class="row gy-5">

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
        <div class="member-img">
          <img src="/static/img/facility.png" class="img-fluid" alt="">
          <div class="social">
            <button class="priority-btn" onclick="updatePriority(1, '시설')">1</button>
            <button class="priority-btn" onclick="updatePriority(2, '시설')">2</button>
            <button class="priority-btn" onclick="updatePriority(3, '시설')">3</button>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>시설</h4>
          <p>청결도, 건물, 인테리어, 채광, 층수 등</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
        <div class="member-img">
          <img src="/static/img/PT.png" class="img-fluid" alt="">
          <div class="social">
            <button class="priority-btn" onclick="updatePriority(1, '수업(PT)')">1</button>
            <button class="priority-btn" onclick="updatePriority(2, '수업(PT)')">2</button>
            <button class="priority-btn" onclick="updatePriority(3, '수업(PT)')">3</button>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>수업(PT)</h4>
          <p>전문성과 식단 관리, 운동법 학습 등</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
        <div class="member-img">
          <img src="/static/img/machine.png" class="img-fluid" alt="">
          <div class="social">
            <button class="priority-btn" onclick="updatePriority(1, '운동 기구')">1</button>
            <button class="priority-btn" onclick="updatePriority(2, '운동 기구')">2</button>
            <button class="priority-btn" onclick="updatePriority(3, '운동 기구')">3</button>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>운동 기구</h4>
          <p>종류·브랜드, 소도구, 연식/배치/관리</p>
        </div>
      </div>
      
      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
        <div class="member-img">
          <img src="/static/img/service.png" class="img-fluid" alt="">
          <div class="social">
            <button class="priority-btn" onclick="updatePriority(1, '서비스')">1</button>
            <button class="priority-btn" onclick="updatePriority(2, '서비스')">2</button>
            <button class="priority-btn" onclick="updatePriority(3, '서비스')">3</button>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>서비스</h4>
          <p>친절도, 과도한 영업행위(PT 강요) 등</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="700">
        <div class="member-img">
          <img src="/static/img/shower.png" class="img-fluid" alt="">
          <div class="social">
            <button class="priority-btn" onclick="updatePriority(1, '탈의실/샤워실/사물함')">1</button>
            <button class="priority-btn" onclick="updatePriority(2, '탈의실/샤워실/사물함')">2</button>
            <button class="priority-btn" onclick="updatePriority(3, '탈의실/샤워실/사물함')">3</button>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>탈의실/샤워실/사물함</h4>
          <p>관리 상태 및 만족도</p>
        </div>
      </div><!-- End Team Member -->

      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
        <div class="member-img">
          <img src="/static/img/cloth.png" class="img-fluid" alt="">
          <div class="social">
            <button class="priority-btn" onclick="updatePriority(1, '수건/운동복')">1</button>
            <button class="priority-btn" onclick="updatePriority(2, '수건/운동복')">2</button>
            <button class="priority-btn" onclick="updatePriority(3, '수건/운동복')">3</button>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>수건/운동복</h4>
          <p>제공 여부, 가격, 관리 상태 등</p>
        </div>
      </div><!-- End Team Member -->

      
      <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
        <div class="member-img">
          <img src="/static/img/parking.png" class="img-fluid" alt="">
          <div class="social">
            <button class="priority-btn" onclick="updatePriority(1, '주차')">1</button>
            <button class="priority-btn" onclick="updatePriority(2, '주차')">2</button>
            <button class="priority-btn" onclick="updatePriority(3, '주차')">3</button>
          </div>
        </div>
        <div class="member-info text-center">
          <h4>주차</h4>
          <p>주차공간, 주차 비용 등</p>
        </div>
      </div><!-- End Team Member -->

      <div class="text-center">
        <button id="next" class="custom button bg-yellow-500 text-white p-8 rounded-lg focus:outline-none" style="font-size: 1.5em; font-weight: bold;" onclick="goToNext()">헬스장 추천 받기!</button>
      </div>

  </div>
  <script>
    function updatePriority(priority, categoryName) {
      document.getElementById('priority-' + priority).textContent = categoryName;
      document.getElementById(priority + '-choice').value = categoryName;
    }

    function goToNext() {
    var priority2Category = document.getElementById('priority-2').textContent;
    
    // '시설'이 선택되었을 경우
    if (priority2Category === '시설') {
        window.location.href = 'recommend.html';
    }
    // '기구'가 선택되었을 경우
    else if (priority2Category === '운동 기구') {
        window.location.href = 'recomnend.html';
    }
    // 그 외의 경우 (선택된 카테고리가 없거나 다른 카테고리일 경우)
    else {
        // 여기에 기본 페이지로 이동하거나 오류 메시지를 표시하는 로직을 추가할 수 있습니다.
        alert('카테고리를 선택해주세요.');
    }
}

  </script>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="footer-content position-relative">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info">
              <h3>Cue-Fit</h3>
              <p>
                아시아경제 교육센터<br>
                서울 중구 퇴계로 166<br><br>
                <strong>연락처:</strong> +82 010-1004-1004<br>
                <strong>이메일:</strong> cufit@gmail.com<br>
              </p>
            </div>
          </div><!-- End footer info column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>Cue-Fit 정보</h4>
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#">BEST 서비스</a></li>
              <li><a href="#">BEST PT</a></li>
              <li><a href="#">BEST 시설</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>헬스장 추천 서비스</h4>
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#">헬스장 추천</a></li>
            </ul>
          </div><!-- End footer links column-->

          <div class="col-lg-2 col-md-3 footer-links">
            <h4>오운완 이미지 생성</h4>
            <ul>
              <li><a href="#"></a></li>
              <li><a href="#">Dall E 이미지 생성</a></li>
              <li><a href="#">사용자 이미지 배경 제거</a></li>
              <li><a href="#">이미지 합성</a></li>
            </ul>
          </div><!-- End footer links column-->

        </div>
      </div>
    </div>

    <div class="footer-legal text-center position-relative">
      <div class="container">
        <div class="copyright">
          &copy; Copyright <strong><span>Cue-Fit</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/ -->
          Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
        </div>
      </div>
    </div>

  </footer>
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/static/vendor/aos/aos.js"></script>
  <script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/static/js/main.js"></script>

</body>

</html>

